<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">atmos.org</a></h1>

        <hr/>
        <p><small>If you need me I'll be in a tuxedo smoking weed in the shower.</small></p>

        <h3><a href="mailto:atmos@atmos.org">Contact</a></h3>

        <h3>Casual on</h3>
        <p class="view"><a href="https://github.com/atmos" target="tab">GitHub</a></p>
        <p class="view"><a href="https://twitter.com/atmos" target="tab">Twitter</a></p>
      </header>
      <section id="main">
        {{ content }}
      </section>
      <footer>
        <!-- <p>Ichiban was here.</p> -->
      </footer>
    </div>
  </body>
</html>
