<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
      img {
        margin: auto;
        display: block;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header />
      <section id="main">
        <a href="mailto:atmos@atmos.org">
          <img src="https://github.com/fakeatmos/test/assets/38/5cb2f69a-1ab3-4744-b303-a440801bfee1" alt="boots" />
        </a>
      </section>
      <footer>
        <!-- <p>Ichiban was here.</p> -->
      </footer>
    </div>
  </body>
</html>
